<div class="bg-white rounded-md w-full max-w-md p-4 border border-gray-400/50">
  <form hx-post="{% url 'staff-product-update' product.pk %}" onsubmit="$('#product-update').hide();">
    {% csrf_token %}
    <div class="flex justify-between items-center mb-4">
      <p class="text-lg font-bold">Editar producto</p>
      <div class="p-0.5 rounded hover:bg-red-300/30 cursor-pointer" onclick="$('#product-update').hide()">
        <svg class="stroke-red-800" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <g id="Menu / Close_MD">
              <path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="flex flex-col mb-3 gap-1">
      <label class="font-semibold text-sm" for="id_name">Producto</label>
      <input class="p-2 text-xs border border-gray-300 rounded-md" type="text" placeholder="Nombre del producot" name="name" value="{{ product.name }}" maxlength="100" required="" id="id_name" />
    </div>
    <div class="flex gap-2 mb-5 w-full">
      <div class="flex flex-col gap-1 w-full">
        <label class="font-semibold text-sm" for="id_price">Precio</label>
        <input class="p-2 text-xs border border-gray-300 rounded-md" type="number" placeholder="Precio" name="price" value="{{ product.price|floatformat:'.2' }}" step="0.1" required="" id="id_price" />
      </div>
      <div class="flex flex-col gap-1 w-full">
        <label class="font-semibold text-sm" for="id_stock">Cantidad disponible</label>
        <input class="p-2 text-xs border border-gray-300 rounded-md" type="number" placeholder="Cantidad disponible" name="stock" value="{{ product.stock }}" required="" id="id_stock" />
      </div>
    </div>
    <button class="text-xs font-medium rounded-md px-3 py-1.5 bg-green-700 text-white hover:bg-green-700/90 cursor-pointer transition-colors block ml-auto">Editar</button>
  </form>
</div>
