{% extends 'core/base.html' %}

{% load static %}

{% block content %}
  <div class="h-screen bg-sky-950 lg:flex">
    <div class="px-4 py-8 gap-16 w-full h-screen grid justify-center grid-rows-3">
      <div class="h-full flex justify-center">
        <img class="h-full object-contain" src="{% static 'img/flex1.png' %}" alt="" />
      </div>
      <div class="h-full">
        <a href="{% url 'home' %}" class="p-2 block bg-sky-900 text-white font-bold text-center text-3xl rounded">PEDIDO</a>
      </div>
      <div class="h-full flex justify-center">
        <img class="h-full object-contain" src="{% static 'img/flex2.png' %}" alt="" />
      </div>
    </div>
    <div class="flex aspect-square">
      <img class="object-cover aspect-square" src="{% static 'img/grid2.png' %}" alt="" />
    </div>
  </div>
{% endblock %}
