{% extends 'core/base.html' %}

{% load static %}

{% block content %}
  <div class="bg-sky-950 flex flex-col items-center min-h-screen py-2 px-2 gap-2">
    <div class="bg-sky-900 w-full max-w-lg rounded">
      <a href="{% url 'welcome' %}" class="flex justify-center w-full max-w-lg items-center"><img class="h-24" src="{% static 'img/flex1.png' %}" alt="" /></a>
    </div>
    <div class="p-4 bg-white w-full max-w-lg rounded">
      {% if user.is_staff %}
        <form action="{% url 'export-excel' %}" method="get" class="flex mb-4 gap-1">
          <select name="grade" class="text-sm bg-gray-300 p-2 rounded font-semibold w-full">
            <option value="">Todos los alumnos</option>
            {% for grade in grades %}
              <option value="{{ grade.0 }}">{{ grade.1 }}</option>
            {% endfor %}
          </select>
          <button class="block p-2 bg-emerald-800 text-white rounded text-xs text-center font-semibold text-nowrap">Exportar datos</button>
        </form>
        <hr class="mb-4" />
      {% endif %}
      <div hx-get="{% url 'admin-order-list' %}" hx-trigger="load, orderUpdated from:body"></div>
    </div>

    <div class="p-4 bg-white w-full max-w-lg rounded">
      <div class="flex justify-between mb-2 items-center">
        <p class="font-semibold">Productos</p>
        <a class="block p-2 bg-emerald-800 text-white rounded text-xs text-center font-semibold text-nowrap" href="{% url 'export-product-excel' %}">Exportar productos</a>
      </div>

      <div class="w-full border rounded overflow-x-scroll">
        <table class="w-full">
          <tr class="bg-gray-300">
            <th class="text-left text-sm p-2">Producto</th>
            <th class="text-left text-sm p-2">Disponibles</th>
            <th class="text-left text-sm p-2">Vendidos</th>
          </tr>
          {% for product in products %}
            <tr class="odd:bg-gray-200">
              <td class="text-sm p-2">{{ product.name }}</td>
              <td class="text-sm p-2">{{ product.stock }}</td>
              <td class="text-sm p-2">{{ product.sold }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
