{% load order_management_extra %}

<div class="bg-white rounded w-full max-w-md" onclick="event.stopPropagation()">
  <p class="font-bold p-3 border-b border-b-gray-400">Productos disponibles</p>
  <div class="p-3 overflow-scroll max-h-96">
    {% for product in product_list %}
      <div class="flex justify-between mb-2">
        <div>
          <p class="text-sm font-semibold">{{ product.name }}</p>
          <p class="text-sm text-gray-700">{{ product.price|multiply:exchange_rate.rate }} Bs.</p>
        </div>
        <form hx-post="{% url 'orderline-create' %}">
          {% csrf_token %}
          <input type="hidden" name="product" value="{{ product.pk }}" />
          <input type="hidden" name="order" value="{{ order }}" />
          <input type="hidden" name="student" value="{{ student }}" />
          <button class="text-xs font-semibold p-2 bg-gray-200 rounded cursor-pointer" onclick="$('#id_product_list').hide()">Añadir</button>
        </form>
      </div>
    {% endfor %}
  </div>
</div>
