<div class="bg-white rounded w-full max-w-md p-4" onclick="event.stopPropagation()">
  <p class="font-semibold mb-2">¿Estás seguro que desea eliminar el registro del estudiante {{ student.name }}?</p>
  <form hx-post="{% url 'student-delete' student.pk %}">
    {% csrf_token %}
    {{ form }}
    <div class="flex gap-2 justify-end">
      <button class="text-xs font-semibold" onclick="event.preventDefault();$('#id_student_delete').hide()">Cancelar</button>
      <button class="text-xs p-1.5 rounded bg-red-700 text-white font-semibold hover:bg-red-600 cursor-pointer" onclick="$('#id_student_delete').hide()" type="submit">Sí, eliminar</button>
    </div>
  </form>
</div>
