@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

* {
  font-family: "Inter", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}


@layer components {
  .input {
    @apply border border-gray-500 text-sm p-2 rounded bg-white
  }

  .button {
    @apply block text-sm bg-sky-100 text-sky-600 border border-sky-600 p-2 rounded cursor-pointer hover:bg-gray-900 transition-colors
  }
}