{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  <div class="bg-sky-100 flex flex-col items-center min-h-screen py-2 px-2 gap-2">
    <div class="bg-white flex flex-col rounded-lg w-full max-w-2xl p-4 shadow-2xl">
      <div class="mb-4 flex gap-2">
        <p class="font-bold text-xl">¡Bienvenido al Sistema de Pedidos de Mapis!</p>
        <form class="ml-auto w-fit" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="text-white font-semibold text-xs rounded-md bg-red-700 hover:bg-red-700/90 cursor-pointer p-2 text-nowrap">Cerrar sesión</button>
        </form>
      </div>
      <div class="mb-3">
        <p class="font-bold py-1">Eventos</p>
      </div>
      <div>
        {% for event in events %}
          <a class="block mb-2 p-3 border border-gray-300 rounded-md hover:bg-gray-100" href="{% url 'staff-event' event.pk %}">
            <p class="text-sm font-bold">{{ event.name }}</p>
            <p class="text-sm">{{ event.scheduled_for }}</p>
          </a>
        {% empty %}
          <div class="bg-gray-100 rounded-md border border-gray-200 p-3">
            <p class="text-sm font-semibold text-gray-800">Aún no se ha registrado ningún evento.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
